@model ZeyadRagyWebExam.Models.Job
<form asp-action="Edit" method="post">
	<dev>
		<input asp-for="Id" type="hidden" />
	</dev>
	<dev>
		<label>Status</label>
		<input asp-for="Status" />
	</dev>
	<button type="submit" class="btn btn-success">SaveChanges</button>
</form>

